@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");


.birds-pagination-container{
    display: flex;
    flex-direction: column;
}

.all-birds-container{
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 5% 5% 5%;
    justify-content: space-evenly;
}

.all-birds-container>div{
    box-sizing: border-box;
    border: solid 1px black;
    width: 13rem;
    height: 16rem;
    margin-bottom: 4%;
    background: #fff;
    border: 1px solid rgb(0, 0, 0, .125);
    border-radius: 10px;
}

.img-container{
    height: 65%;
    text-align: center;
    margin-top: 6%;
}

.img-container>img{
    height: 100%;
    max-width: 12rem;
}

.all-birds-container>div>h3{
    text-align: center;
    margin: 3% 0;
    font-family: "Nunito";
    font-size: 18px;
}

.all-birds-container>div>p{
    text-align: end;
    color: #ff5000;
    cursor: pointer;
    margin: 3% 6% 0 0;
    font-family: "Nunito";
    font-size: 14px;
}

.all-birds-container>div>p:hover{
    font-weight: bold;
}

@media (max-width: 425px){

    .all-birds-container {
        padding: 5rem 2% 2% 3%;
    }
    .all-birds-container>div{
        width: 10rem;
    }

    .img-container{
        height: 60%;
        margin-top: 9%;
    }
    
    .img-container>img{
        max-width: 9rem;
    }

    .all-birds-container>div>h3{
        font-size: 16px;
        margin: 6% 0;
    }

    .all-birds-container>div>p{
        text-align: center;}

}